{%extends 'khiva/base.html'	%}
{%load static%}
{%block title%}about Khiva{%endblock title%}
{%block content%}



		<section class="about-upper-section" itemprop="mainContentofPage">
			<div class="container">
				<article class="who-we-are">
					<h2 class="top-heading">About Khiva</h2>
					<p>According to legend, Khiva grew up around a well called Heyvak, which was dug by Sim, the son of the righteous Noah. Archaeologists claim that Khiva already existed in the VI century BC and was indeed called Kheyvak. And the well of the same name still stands in the center of the city. Before the Arab conquest, Khiva was a Zoroastrian city. In 712, after Qutayb Ibn Muslim came to power, scientists and representatives of noble families were destroyed in Khiva. In the IX-XI centuries, Khiva was transformed into a major center of religion and science. For example, scientists Al-Khorezmi and Al-Beruni worked here. In 1220, Khiva was destroyed by Genghis Khan's soldiers.

In the XVI century, Uzbek nomadic tribes came to Khiva. In 1598, Khiva was proclaimed the capital of the Khanate of Khiva and in the first half of the XVII century became one of the Islamic centers. Many mosques have been erected here, as well as madrassas – educational institutions for the study of Islam. The XVIII-XIX centuries also gave Khiva many architectural attractions. Then several majestic khan palaces were erected. In 1873, the Khanate of Khiva was partially conquered by Russian troops. In 1920, the last khan, Said Abdullah Khan, was overthrown in the city. In 1924, Khiva became part of the Uzbek SSR.</p>

				<img src="{%static 'images/about1.jpg'%}" alt="This is image">
				<h2 class="top-heading">What to Do in Khiva</h2>
				<p>Ichan-Kala is the Khiva point of attraction. This is an ancient fortress surrounded by a high defensive wall. Ichan-Kala occupies 26 hectares. Today, about 300 families live here, most of whom are hereditary artisans. The state Historical and Archaeological Museum-reserve is located on the territory of the fortress. All the significant attractions of Khiva are located in Ichan-Kale. The construction of the fortress began in 1598. Most of the buildings that have survived to the present day were built in the XVIII-XIX centuries, but there are also earlier ones. Scientists suggest that Ichan-Kala stands on an old fortification, which was located here in the V century.

The defensive walls of the Ichan-Kala fortress are a separate attraction. They have a thickness of 5-6 meters, a height of 8-10 meters and a length of 6250 meters. You can climb them from the side of the northern gate and look at Ichan-Kala through the battlements. There are also several gates and defensive towers preserved here. Of particular interest are Ata-Darvaza (main gate), Bagcha-Darvaza (garden gate), Tash-Darvoza (stone gate) and Palvan-Darvaza (heroic gate).

The Kalta Minor Minaret (Kalta Minar) is perhaps the most iconic landmark of the city. Translated from Uzbek, "kalta minor" means "short minaret". According to the plan of the initiator of the construction, Muhammad Amin Khan, the height of the minaret was to reach 70-80 meters, which would make it the highest in the Muslim world. But in 1855, when the height of the minaret was at around 29 meters, the construction was stopped. Historians say that this is due to the death of Muhammad Amin Khan. The minaret was decorated with blue, green and white majolica and tiles. Today, Kalta Minor is one of the most beautiful minarets in Central Asia.

The madrasah of Muhammad Amin Khan was built in 1855. It is located near the Kalta Minor minaret. The construction of the madrasah was carried out simultaneously with the construction of the minaret. The initiator of the construction of the spiritual educational institution was Muhammad Amin Khan. This is the largest madrasah in Khiva. It is also decorated richer than the rest. There were 125 cells, in which 260 students lived. The peculiarity of the cells lies in their duality. Today, a hotel and a cafe are located in the building of the former madrasah.

Kunya-Ark is a fortress within a fortress. The citadel began to be built in 1688 in the walls of Ichan-Kala. Kunya-Ark was fenced off from the main fortress by a wall and served as the residence of the khans of Khorezm. Two mosques (summer and winter), the khan's office, reception room, harem, Mint, and utility rooms were erected here.

The Islam-Khoja complex, which unites the madrasah and minaret of the same name, was built in 1910. The madrasah is dedicated to the Prime Minister of the Khiva ruler Asfandiyar - Islam Khoja. The buildings were built in the traditions of the XIV century. The 56-meter minaret is considered the tallest in Khiva. It can be seen from almost anywhere in the old town.

The first Juma mosque was built here in the 10th century. The modern Friday mosque was built at the end of the XVIII century. The building is unique in that it has neither portals nor domes. Inside the mosque there are 213 columns made of wood, which, as it were, support the ceiling. At the same time, 21 columns have been preserved since the X-XII centuries. And the oldest carved doors of this mosque were created in 1316.</p>
				<img src="{%static 'images/about2.jpg'%}" alt="This is image">
				<p>The mausoleum of Pahlavan Mahmud is a sacred place for the people of Khiva. Pahlavan Mahmud, who lived in the XII-XIII centuries, was a hero. Coming from a family of artisans, he became famous for his exploits and became revered among ordinary people. After his death, people began to come to the grave. Later, a mosque and a khanaka Sufi monastery were built next to the mausoleum. Noble rulers were also buried here. In 1913, rooms for reciters of the holy book of the Koran and iwans (terraces) were built here. And today hundreds of believers are coming to the grave of Pahlavan Mahmud.

The Tash-Hovli Palace (Tash-Howli), which was the main palace of the rulers of Khiva, was built by Allakuli Khan in 1838. The building is decorated with frescoes, carvings and ganch. The palace had a living room of the khan, a separate half for wives, a guest courtyard (mekhmonkhona), a room for official ceremonies and reception of the people, a courtroom and rooms for servants.

The mausoleum of Said Allauddin is one of the few old buildings in Khiva. The tomb was built in the XIV century, and in 1825 large-scale restoration work was carried out here. Said Allauddin was a relative of the Prophet Muhammad and a famous preacher. Muslim pilgrims from different countries of the world began to come here almost immediately. The pilgrimage continues to this day.

In 1835, at the behest of Allakuli Khan, a madrasah was erected, which was named after the ruler. A religious educational institution was built near the Tash-hovli Palace. In addition to the two-story cells (hujr), there was a mosque, a library and a classroom. The facades of the buildings are lined with colored majolica. Today there are souvenir shops in the walls of the madrasah of Allakuli Khan.

Ak Mosque (white mosque), built in the first half of the XIX century, stands on the old foundation of 1647. This small mosque – 25.5 by 13.5 meters – is different from other mosques in Khiva. It is built in an ascetic style, where only carved windows and doors are among the decorations.

The Arab Muhammad Khan Madrasah was erected in 1616 in memory of the transfer of the capital to Khiva. It was built by the ruler of the Arab Muhammad Khan. The madrasah was built of brick and had a mosque, one-story cells (hujras) and a classroom. Unlike other madrasahs of Khiva, Arab Muhammad Khan Madrasah is not decorated with majolica and other decorative elements.</p>
					<img src="{%static 'images/about3.jpg'%}" alt="This is image">
					<p>The madrasah of Shergazi Khan was built in 1726. There is a pond in the center of the educational institution. There was also a mosque, a classroom and cells for students. Unlike other madrasahs, there were special recesses in the student cells for dishes and necessary things. The poet and philosopher from Turkmenistan Makhtumkuli, the holy Sufi from Kazakhstan Beket-ata and the Karakalpak poet Azhiniyaz studied at this madrasah.

Nurullabay Palace is the summer home of the Khiva rulers. It was built in 1912 by Asfandiyarkhan. There are ceremonial halls, the most curious of which is the throne room. It is made in the style of Russian Art Nouveau, there are preserved tiled stoves made at the Imperial Porcelain Factory of St. Petersburg. All rooms of the palace are decorated in different styles.

The madrasah of Khoja Berdibay was built in 1688. It was small, with only 16 student cells. In 1834, Allakuli Khan decided to build a new mosque with a madrasah. Due to the proximity to the madrasah of Khoja Berdibay, it was necessary to divide the territory of the latter into two parts so that the courtyard began to resemble a double bag of khurjun (khurjum). Because of this, the people of Khiva nicknamed the madrasah of Khoja Berdibay khurjum.

Silk carpet workshop is a unique place. Women who manually create wool and silk carpets using ancient technologies work here. You will see how floral patterns typical of Khiva are created, learn about the ways of dyeing threads, see antique carpets and much more.

Dishan-Kala is a part of the "outer" Khiva. Most of the historical buildings and gates here are preserved in good condition.</p>
					<h2 class="top-heading">Khiva Museums</h2>
					<p>The Museum of the History of Khorezm named after Al-Khorezmi and Beruni is the most frequently visited. There are exhibits that were found during archaeological excavations at the settlements of Koirylgan-kala and Toprak-kala. Both settlements existed before our era. In the museum you can see ancient manuscripts, a copy of an ancient sculpture of the Khorezm goddess with a vessel, the remains of ceramic wall cladding and much more.

In the Museum of Applied Arts and Everyday Life of Khorezm, you can see jewelry, ceramics, wooden carvings, copper coinage and dishes of the XVIII-XIX centuries.

The Museum of Crafts will surprise you with exhibits of the XIX-XX centuries created by hereditary jewelers, gunsmiths, blacksmiths, masons, potters and seamstresses. Such a museum is the only one in Uzbekistan. Also here you can see how a blacksmith makes a jug.

The Museum of the History of Musical Art of Khorezm, located in the Kazy-Kalyan madrasah, will tell about the national musical instruments of Uzbekistan. You will also learn about famous artists and the development of music in the country.

Also in Khiva, you can visit the Museum of Nature, the Museum of ceramics and the museum of the history of the Khanate of Khiva.</p>
					<h2 class="top-heading">Theaters of Khiva</h2>
					<p>There are two theaters in Khiva. The main one is the Khorezm Musical Drama Theater named after Agakhi. It grew out of the amateur art circle in 1933. The theater puts on performances based on the works of Uzbek and world classics. The productions are in Uzbek.

The puppet theater in Khiva will appeal not only to young viewers. The theater's productions are also visited by foreigners. The theater, created in 1993, is striking in that performances can be understood without words. That is why theater productions often gather a full hall. The most popular performances are "Khon Kabuli" and "Khiva lazgi".</p>
					<h2 class="top-heading">Entertainment, Parks and Shopping in Khiva</h2>
					<h3>Park of Khiva</h3>
					<p>There are few parks in hot Khiva. The most popular is the Khiva Park. It adjoins one of the outer walls of Ichan-Kala. There are many trees and benches in the park. There is also a pond where you can go boating and catamaran. Usually pensioners and families with young children come here.

There is also a memorial park in Khiva dedicated to the memory of soldiers who died in World War II. Here you can see memory books with the names of men who did not return from the war. There are also many trees and benches where you can sit in silence.

The amusement park "Khiva Locomotive", located on 8 hectares, will appeal to families with children. There are many attractions and trees here.</p>
					<h3>Shopping in Khiva</h3>
					<img src="{%static 'images/about4.jpg'%}" alt="">
					<p>Shopping in Khiva involves the purchase of national souvenirs, fabrics, jewelry, knives and daggers, ceramics. All this can be bought in numerous souvenir shops located inside Ichan-Kala.

If you want to see the national flavor, take a look at the city bazaar. Locals buy food and clothes here.</p>
					<img src="{%static 'images/about5.jpg'%}" alt="">
					<h3>Food in Khiva</h3>
					<img src="{%static 'images/about6.jpg'%}" alt="">
					<p>Food in Khiva is a special pleasure. This city is famous for its unique dishes.</p>
					<h3>Uzbek Cuisine</h3>
					<p>Khiva serves traditional Khorezm cuisine – shivit-oshi and tukhum-barak. Shivit-oshi is green noodles made from dill dough and combined with red vegetable gravy. Tukhum-barak is a kind of dumplings stuffed with raw egg, which "seizes" when cooking.

These and other dishes of Uzbek national cuisine can be tasted in the restaurants Shiva Moon, Yasawulbashi, Caravan and Bir Gumbaz.</p>
					<h3>Vegetarian Cuisine</h3>
					<img src="{%static 'images/about7.jpg'%}" alt="">

				</article>

				<div class="our-story">
					<h2 class="top-heading">our story</h2>
					<ul>

						<li><i class="fas fa-users"></i> <a href="#">1000000+ tourist every year</a></li>

						<!-- For None link use below -->
						<!-- <li><i class="fas fa-chalkboard-teacher"></i> <p>60+ certified teachers</p></li>
						<li><i class="fas fa-graduation-cap"></i>  <p>600+ students enrolled</p></li>
						<li><i class="fas fa-book-open"></i>  <p>50+ courses completed</p></li>
						<li><i class="fas fa-users"></i>  <p>10000+ foreign followers</p></li> -->
					</ul>
				</div>
			</div>
		</section>



		<section class="query-section">
			<div class="container">
				<p>Any Queries? Ask us a question at<a href="tel:+9779813639131"><i class="fas fa-phone"></i> +977 9813639131</a></p>
			</div>
		</section>
		<!-- End of Query Section -->
{%endblock content%}