{%load static%}
<html>
<head>
	<title>{%block title%}{%endblock title%}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{%	static 'css/all.css'	%}">
	<link rel="stylesheet" type="text/css" href="{%	static 'css/all.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{%	static 'css/lightbox.css'	%}">
	<link rel="stylesheet" type="text/css" href="{%	static 'css/flexslider.css'	%}">
	<link rel="stylesheet" type="text/css" href="{%	static 'css/owl.carousel.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/owl.theme.default.css'	%}">
	<link rel="stylesheet" type="text/css" href="{%	static 'css/jquery.rateyo.css'%}"/>
	 <link rel="stylesheet" type="text/css" href="{%static 'css/jquery.mmenu.all.css'%}" />
	 <link rel="stylesheet" type="text/css" href="{%static 'css/meanmenu.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/inner-page-style.css'	%}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>
<body>
<div class="container-md">
	<div id="page" class="site" itemscope itemtype="http://schema.org/LocalBusiness">
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="top-header-left">
						<div class="top-header-block">
							<a href="mailto:husinovagabek@gmail.com" itemprop="email"><i class="fas fa-envelope"></i> husinovagabek@gmail.com</a>
						</div>
						<div class="top-header-block">
							<a href="tel:+99894 1163802" itemprop="telephone"><i class="fas fa-phone"></i> +998941163802</a>
						</div>
					</div>
					<div class="top-header-right">
						<div class="social-block">
							<ul class="social-list">
								<li><a href=""><i class="fab fa-viber"></i></a></li>
								<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
								<li><a href=""><i class="fab fa-facebook-messenger"></i></a></li>
								<li><a href=""><i class="fab fa-twitter"></i></a></li>
								<li><a href=""><i class="fab fa-skype"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Top header Close -->
			<div class="main-header">
				<div class="container">
					<div class="logo-wrap" itemprop="logo" style="width:30%">
						<img src="{%static 'images/logo1.png'%}" alt="Logo Image">
						<!-- <h1>Education</h1> -->
					</div>
					<div class="nav-wrap">
						<nav class="nav-desktop">
							<ul class="menu-list">
								<li><a href="{%url 'home_page'%}">Home</a></li>
								<li class="menu-parent">Complexs
									<ul class="sub-menu">
										<li><a href="#">Madrasalar</a></li>
										<li><a href="#">Masjidlar</a></li>
										<li><a href="#">Minoralar</a></li>
									</ul>
								</li>
								<li class="menu-parent">Restaurant
									<ul class="sub-menu">
										<li><a href="{%url 'khiva_course_single'	%}">Restoran 1</a></li>
										<li><a href="#">Restoran 2</a></li>
									</ul>
								</li>
								<li><a href="{%url 'about_page_detail'%}">about Khiva</a></li>
								<li><a href="{%	url 'gallery_page'	%}">Gallery</a></li>
								<li><a href="{%url 'contact_page'%}">Contact</a></li>
							</ul>
						</nav>
						<div id="bar">
							<i class="fas fa-bars"></i>
						</div>
						<div id="close">
							<i class="fas fa-times"></i>
						</div>
					</div>
				</div>
			</div>
		</header>

		{%	block content	%}

		{%	endblock content	%}
<section class="query-section">
			<div class="container">
				<p>for Question<a href="tel:+998 94 116 3802"><i class="fas fa-phone"></i> +998 94 116 3802</a></p>
			</div>
		</section>
<footer class="page-footer" itemprop="footer" itemscope itemtype="http://schema.org/WPFooter">
			<div class="footer-first-section">
				<div class="container">
					<div class="box-wrap" itemprop="about">
						<header>
							<h1>haqida</h1>
						</header>
						<p>To get complete information about Khiva, you can contact the following contacts.</p>

						<h4><a href="tel:+99891 2752004"><i class="fas fa-phone"></i> +99891 2752004</a></h4>
						<h4><a href="mailto:husinovagabek@gmail.com"><i class="fas fa-envelope"></i> husinovagabek@gmail.com</a></h4>
						<h4><a href=""><i class="fas fa-map-marker-alt"></i>Khiva, Khorezm, Uzbekistan</a></h4>
					</div>

					<div class="box-wrap">
						<header>
							<h1>links</h1>
						</header>
						<ul>
							<li><a href="https://youtu.be/KrL6B40wBok">About Khiva</a></li>
						</ul>
					</div>


				</div>
			</div>
			<!-- End of box-Wrap -->
			<div class="footer-second-section">
				<div class="container">
					<hr class="footer-line">
					<ul class="social-list">
						<li><a href=""><i class="fab fa-facebook-square"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-skype"></i></a></li>
						<li><a href=""><i class="fab fa-youtube"></i></a></li>
						<li><a href=""><i class="fab fa-instagram"></i></a></li>
					</ul>
					<hr class="footer-line">
				</div>
			</div>
			<div class="footer-last-section">
				<div class="container">
					<p><span>Created 2023 &copy; husinovagabek@gmail.com </span></p>
				</div>
			</div>
		</footer>
	</div>

</div>

{%block javascript%}
<script type="text/javascript" src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/lightbox.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/all.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/isotope.pkgd.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/owl.carousel.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/jquery.flexslider.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/jquery.rateyo.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/jquery.mmenu.all.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/jquery.meanmenu.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/custom.js'%}"></script>
{%endblock javascript%}

</body>